.paymentHeading{
    color: #1B1B1B;
    margin-left: 0.75rem;
    margin-bottom: 1rem;
}
.summaryHeading{
    color: #1B1B1B;
    margin-left: 0.25rem;
    margin-bottom: 1rem;
}
.navtabs{
  border-bottom: 1px solid lightgray;
}
.nav-item{
  width: 22%;
}

.nav-pills .nav-link.active{
  background-color: transparent;
}
.tabactiveimg{
  display: none;
}
.nav-pills .nav-link.active .tabactiveimg{
 display: block;
}
.nav-pills .nav-link.active .tabimg{
  display: none;
 }
.ordercard{
  width: 100%;
  height: 485px;
  border-radius: 0.75rem;
  box-shadow: 0 0 4px #c8c8c8 !important;
  overflow-y: auto;
}
.selectPayment{
    height: 20%;
    width: 100%;
    background-color: #c8c8c8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.remove-border-bottom .mat-tab-header {
    border-bottom: none;
}


mat-tab-label{
    border-bottom: none;
}

.cardnumber{
    margin-top: 12px;
    height: 3rem;
    padding-left: 8px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    outline: none;
}
input::placeholder{
    color: #E3E3E3;
}
.cardnumberTitle{
    margin-left: 12px;
    font-size: 16px;
    color: #101010;
}

.paymentFooter{
    border-top: 1px dashed #727272;
}
.backbtn{
    background-color: #236BAE05 !important;
    color: #236BAE;
    border: 1px solid #236BAE;
}

.footerText{
    display: flex;
    justify-content: flex-end;
}
.Checkoutbtn{
    background-color: #236BAE !important;
    color: white;
    border: 1px solid #236BAE;
}

.upipage{
    height: 40vh;
}
.subTotal{
    color: #727272;
    font-size: 17px;
}
.totalamount{
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}
.subtotalamount{
    display: flex;
    margin-left: 0.75rem !important;
}
.alltotalamount{
    border-top: 1px dashed #727272;
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    margin-left: 0.75rem !important;
}
.Totalpay{
    color: #1B1B1B;
    font-size: 20px;
}
.itemdiscount{
    color: #236BAE;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
}
.itemDis{
    padding-top: 2rem;
    display: flex;
    margin-left: 0.75rem !important;
    justify-content: flex-end;
}
.upiText{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20%;
    font-size: large;
}


.feedbackTitle{
    font-size: 18px;
    color: #236BAE;
    display: contents;
}
.close{
    border: none;
    font-size: 1rem;
    background-color: white;
}
.thankyouHeader{
    border-bottom: none;
}

.imageHeight{
    height: 50px;
    width: 60px;
}
.svgHeight{
  height: 50px;
    width: 60px;
}

.iconActivated{
    border: none;
}
.paymentTabs{
    height: 30vh;
}